.allCategories {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 10px;
    grid-column-gap: 50px;
    text-align: center;
    width: 70%;
    margin: auto;
    background-color: rgb(250, 250, 255);
    padding: 30px;
    min-height: 500px;
}

.categoryDescription {
    padding: 5px;
    font-style: italic;
    line-height: 1.3em;
}

.allCatImg {
    width: 90%;
    cursor: pointer;
    border-radius: 50%;
}

.allCatImg:hover {
    box-shadow: 0 2px 3px 2px slategrey;
}

@media only screen and (max-width: 850px) {
    .allCategories {
        grid-template-columns: 45% 45%;
    }
}

@media only screen and (max-width: 500px) {
    .allCategories {
        grid-template-columns: auto;
    }
}