.categoryBox {
    display: inline-block;
    padding: 20px;
  }
  
  .categoryPic {
    padding: 0 30px;
    max-width: 250px;
    max-height: 227px;
  }

  .categoryTitle {
    text-align: center;
    color: slategrey;
  }