.content {
    min-height: 500px;
    margin: 0;
}
.namePicAndInstructions {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.contentRecipe {
    padding: 40px;
    text-align: center;
  }
  .nameAndInstructions {
    text-align: left;
    align-self: center;
  }
  .contentRecipePic {
    padding: 0 30px;
    width: 100%;
    height: auto;
  }
  .contentRecipeTextTitle {
    text-align: left;
  }

  .testimonials {
    padding: 40px;
    background: black;
    text-align: center;
  }

  .testimonialsText {
    color: orangered;
    font-weight: normal;
  }

  .recipeButton {
    margin-top: 50px;
    width: 250px;
    height: 75px;
    background-color: transparent;
    border: 2px solid slategrey;
    border-radius: 50px;
    font-size: 1.25em;
    outline: none;
  }

  .recipeButton:hover {
    cursor: pointer;
    box-shadow: 0 0 2px 2px slategrey;
    transition: all 500ms;
  }
  @media only screen and (max-width: 600px) {
    .namePicAndInstructions {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media only screen and (max-width: 400px) {
    .contentRecipePic {
      padding: 0;
    }
    .namePicAndInstructions {
      grid-template-columns: 95%;
    }
    .nameAndInstructions, .contentRecipeTextTitle {
      text-align: center;
    }
  }