.contentRecipe {
    display: flex;
    align-items: center;
    padding: 40px;
    text-align: left;
  }
  
  .contentRecipePic {
    padding: 0 30px;
    max-width: 500px;
    max-height: 454px;
  }

  .contentRecipeTextTitle {
    text-align: left;
  }

  .testimonials {
    padding: 40px;
    background: black;
    text-align: center;
  }

  .testimonialsText {
    color: orangered;
    font-weight: normal;
  }
