.recipeBox {
    display: flex;
    padding: 40px;
    text-align: left;
  }
  
  .recipePic {
    padding: 0 30px;
    max-width: 500px;
    max-height: 454px;
  }

  .recipeTitle {
    text-align: left;
  }

  .testimonials {
    padding: 40px;
    background: black;
    text-align: center;
    color: slategrey;
  }

  .testimonialsTitle {
    color: orangered;
    font-weight: normal;
  }

