.categoryMeals {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 15px;
    text-align: center;
    width: 70%;
    margin: auto;
    background-color: rgb(250, 250, 255);
    padding: 30px;
    min-height: 500px;
}
.categoryMealImg {
    width: 100%;
    height: auto;
    border-radius: 0%;
    max-width: 270px;
    overflow: hidden;
}
.meal-grid {
    display: grid;
    grid-template-rows: 1fr 2fr;
}
.categoryMealImg:hover {

}
.categoryMealName {
    width: 100%;
    font-size: 1.3em;
    max-width: 250px;
    justify-self: center;
    overflow: hidden;
}

@media only screen and (max-width: 850px) {
    .categoryMeals {
        grid-template-columns: auto auto auto;
    }
}
@media only screen and (max-width: 600px) {
    .categoryMeals {
        grid-template-columns: 45% 45%;
        grid-column-gap: 10%;
    }
}
@media only screen and (max-width: 500px) {
    .categoryMeals {
        grid-template-columns: auto;
        grid-column-gap: 10%;
    }
}